.App {
  text-align: center;
  margin-top: 10%;
}

.withoutMemo {
  background: red;
  margin-left: 10%;
  width: 350px;
}

.withMemo {
  background: green;
  margin-right: 10%;
  width: 350px;
}

.inputBox {
  align-self: center;
  width: 300px;
  padding: 10px;
  height: 30px;
  margin-top: 10px;
}
